// ABOUT :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


#about.about

  .container

    h3.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "ЖК НА ул. Макаренко"

    .about__row
      .about__left.wow.wowFadeLeft(data-animation-delay="0.5s")
        img(
          src="./img/img-logo-flat__about.png"
          srcset="./img/img-logo-flat__about@2x.png 2x"
        )

      .about__right.wow.wowFadeRight(data-animation-delay="0.5s")
        p!= "ЖК на Макаренко в Туле представляет собой два высотных (17 этажей) дома с двухуровневым подземным паркингом на 114 машино-мест. В жилом комплексе — 288 квартир, в том числе роскошные трехкомнатные апартаменты.Новостройки отличаются высоким качеством строительства. Стены — трехслойные, энергоэффективные, внешняя отделка кирпичом органично вписывается в окружающую застройку. В квартирах нет несущих стен, а количество несущих колонн минимально, что позволяет распланировать пространство под свой вкус и потребности семьи. В квартирах установлены евроокна с тройным стеклопакетом, современные приборы учета, подведены высокоскоростной интернет и цифровое ТВ. Отопление ЖК на ул. Макаренко осуществляется от собственной крышной котельной. В коммерческих помещениях на первых этажах жилого комплекса расположатся частный детский сад, аптека, магазин."



// ABOUT :: END
