// ABOUT :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


#about.about.about--house

  img(
    src="./img/img-bg__apartment.jpg"
    objectFit-js
  )

  .container
    h2.wow.wowFadeUp(data-animation-delay="0.2s")!= "Петровский квартал, дом 7.2"
    p.wow.wowFadeUp(data-animation-delay="0.3s")!= "Дом 7.2 - это 5и этажный дом, состоящий из 4-х секций. ХХ типов планировок с</br>возможностью перепланировки."



// ABOUT :: END
