// ABOUT :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


#about.about.about--pantry

  img(
    src="./img/img-bgAbout__pantry.jpg"
    objectFit-js
  )

  .container
    h2!= "ЖК на ул. Макаренко"
    p!= "ЖК на Макаренко в Туле представляет собой два высотных (17 этажей) дома с двухуровневым подземным паркингом на 114 машино-мест. В жилом комплексе — 288 квартир, в том числе роскошные трехкомнатные апартаменты."
    a(href="#" class="" title="")!= "подробнее о проекте"



// ABOUT :: END
