// ABOUT :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


#about.about

  .container

    h3.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Петровский Квартал"

    .about__row
      .about__left.wow.wowFadeLeft(data-animation-delay="0.4s")
        img(
          src="./img/img-logo-quarter__about.png"
          srcset="./img/img-logo-quarter__about@2x.png 2x"
        )

      .about__right.wow.wowFadeRight(data-animation-delay="0.4s")
        p!= "Микрорайон «Петровский квартал» соединил в себе городской комфорт и прелесть загородной жизни. Живописная природа, удачная география и близость к центру города, комфортное жилье и доступные цены — возможно, именно о таком месте для жизни вы мечтаете? Петровский квартал строится на площади в 16 гектаров в районе посёлков Мясново и Петровский. В радиусе нескольких десятков километров нет металлургических и химических предприятий. Площадка для строительства выбиралась с учетом розы ветров: благодаря ей здесь всегда благоприятная экологическая обстановка. Микрорайон стоит на берегу пруда, в окружении полей, рощ и частного сектора. Идеально место для молодых семей, особенно с детьми, а также для всех, кто хочет спокойствия, тишины и свежего воздуха."



// ABOUT :: END
