// BANNER :: START


//- VARIABLE
//- ==========
-
  var sliderLocationArr = [
    "ЖК на ул. Макаренко",
    "ЖК на ул. Макаренко",
    "ЖК на ул. Макаренко",
    "ЖК на ул. Макаренко"
  ];
//- ==========
//- MIXIN
//- ==========

//- ==========


.banner.banner--inner
  .banner__gradient

  +carouselBlurBg("realtyBlur", "carousel-realtyBlue-js", "commercial")

  .container.container--slider
    +sliderInnerLocation("realty", "slider-realty-js", sliderLocationArr)

  include ../macros/_submenu


// BANNER :: END
