// BANNER :: START


//- VARIABLE
//- ==========
-
  var sliderLocationArr = [
    "Петровский Квартал",
    "Петровский Квартал",
    "Петровский Квартал",
    "Петровский Квартал"
  ];
//- ==========
//- MIXIN
//- ==========

//- ==========


.banner.banner--inner
  .banner__gradient

  +carouselBlurBg("houseBlur", "carousel-houseBlue-js", "house")

  .container.container--slider.wow.wowFadeLeft(data-animation-delay="0.4s")
    +sliderInnerLocation("house", "slider-house-js", sliderLocationArr)

  include ../macros/_submenu


// BANNER :: END
