// BANNER :: START


//- VARIABLE
//- ==========
-
  var sliderLocationArr = [
    "Удобный паркинг с круглосуточной охраной позволит Вам всегда быстро выехать в город без заторов во дворе, обезопасит Ваш автомобиль от угона и повреждения и продлит срок его эксплуатации",
    "Удобный паркинг с круглосуточной охраной позволит Вам всегда быстро выехать в город без заторов во дворе, обезопасит Ваш автомобиль от угона и повреждения и продлит срок его эксплуатации",
    "Удобный паркинг с круглосуточной охраной позволит Вам всегда быстро выехать в город без заторов во дворе, обезопасит Ваш автомобиль от угона и повреждения и продлит срок его эксплуатации",
    "Удобный паркинг с круглосуточной охраной позволит Вам всегда быстро выехать в город без заторов во дворе, обезопасит Ваш автомобиль от угона и повреждения и продлит срок его эксплуатации"
  ];
//- ==========
//- MIXIN
//- ==========

//- ==========


.banner.banner--inner
  .banner__gradient

  +carouselBlurBg("carBlur", "carousel-carBlue-js", "carParking")

  .container.container--slider.wow.wowFadeLeft(data-animation-delay="0.4s")
    +sliderInnerLocation("car", "slider-car-js", sliderLocationArr)

  include ../macros/_submenu


// BANNER :: END
