// BANNER :: START


//- VARIABLE
//- ==========
-
  var sliderLocationArr = [
    "ЖК Петровский квартал",
    "ЖК Петровский квартал",
    "ЖК Петровский квартал",
    "ЖК Петровский квартал"
  ];
//- ==========
//- MIXIN
//- ==========

//- ==========


.banner.banner--inner
  .banner__gradient

  +carouselBlurBg("galleryBlur", "carousel-galleryBlur-js", "gallery")

  .container.container--slider.wow.wowFadeLeft(data-animation-delay="0.4s")
    +sliderInnerLocation("gallery", "slider-gallery-js", sliderLocationArr)

  include ../macros/_submenu


// BANNER :: END
