// BANNER :: START


//- ==========
//- MIXIN
//- ==========

//- ==========


.banner.banner--inner
  .banner__gradient

  
  .banner__carousel--blur.no-slider-blur
    .no-slider-image.banner__carousel-image(style="background-image: url(./img/img-bg__storerooms.jpg)")
  .banner__carousel--normal
    .no-slider-image(style="background-image: url(./img/img-bg__storerooms.jpg)")
  .container.container--slider.no-slider-text.wow.wowFadeLeft(data-animation-delay="0.4s")
    | Освободите свою квартиру от вещей, которые в данный момент Вы не используете, например сезонный спортинвентарь: велосипед, лыжи, лыжные палки, коньки. В кладовую можно поместить и автомобильные аксессуары, например, зимнюю или летнюю резину и т.д. Храните вещи в кладовой и наслаждайтесь свободным пространством в квартире.


  include ../macros/_submenu


// BANNER :: END
