// BANNER :: START


//- VARIABLE
//- ==========
-
  var sliderLocationArr = [
    "ЖК на ул. Макаренко",
    "ЖК на ул. Макаренко",
    "ЖК на ул. Макаренко",
    "ЖК на ул. Макаренко"
  ];
//- ==========
//- MIXIN
//- ==========

//- ==========


.banner.banner--inner
  .banner__gradient

  +carouselBlurBg("flatBlur", "carousel-flatBlue-js", "flat")

  .container.container--slider.wow.wowFadeLeft(data-animation-delay="0.4s")
    +sliderInnerLocation("flat", "slider-flat-js", sliderLocationArr)

  include ../macros/_submenu


// BANNER :: END
