// BANNER :: START


//- VARIABLE
//- ==========
-
  var sliderLocationArr = [
    "Освободите свою квартиру от вещей, которые в данный момент Вы не используете, например сезонный спортинвентарь: велосипед, лыжи, лыжные палки, коньки. В кладовую можно поместить и автомобильные аксессуары, например, зимнюю или летнюю резину и т.д. Храните вещи в кладовой и наслаждайтесь свободным пространством в квартире.",
    "Освободите свою квартиру от вещей, которые в данный момент Вы не используете, например сезонный спортинвентарь: велосипед, лыжи, лыжные палки, коньки. В кладовую можно поместить и автомобильные аксессуары, например, зимнюю или летнюю резину и т.д. Храните вещи в кладовой и наслаждайтесь свободным пространством в квартире.",
    "Освободите свою квартиру от вещей, которые в данный момент Вы не используете, например сезонный спортинвентарь: велосипед, лыжи, лыжные палки, коньки. В кладовую можно поместить и автомобильные аксессуары, например, зимнюю или летнюю резину и т.д. Храните вещи в кладовой и наслаждайтесь свободным пространством в квартире.",
    "Освободите свою квартиру от вещей, которые в данный момент Вы не используете, например сезонный спортинвентарь: велосипед, лыжи, лыжные палки, коньки. В кладовую можно поместить и автомобильные аксессуары, например, зимнюю или летнюю резину и т.д. Храните вещи в кладовой и наслаждайтесь свободным пространством в квартире."

  ];
//- ==========
//- MIXIN
//- ==========

//- ==========


.banner.banner--inner
  .banner__gradient

  +carouselBlurBg("pantryBlur", "carousel-pantryBlue-js", "storerooms")

  .container.container--slider.wow.wowFadeLeft(data-animation-delay="0.4s")
    +sliderInnerLocation("pantry", "slider-pantry-js", sliderLocationArr)

  include ../macros/_submenu


// BANNER :: END
