// NEARBY :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


#nearby.nearby

  h3.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Что рядом"

  .nearby__row

    .nearby__block.wow.wowFadeLeft(data-animation-delay="0.4s")
      p.nearby__block-title!= "Инфраструктура вокруг"

      +checkboxBtn("checkbox--irisBlue is-active", "Поликлиники")
      +checkboxBtn("checkbox--deepCerise", "Детские сады")
      +checkboxBtn("checkbox--darkTangerine is-active", "Школы")
      +checkboxBtn("checkbox--fern", "Аптеки")
      +checkboxBtn("checkbox--violetBlue is-active", "Супермаркеты")

    #map-nearby.nearby__maps


  .container
    p.nearby__text!= "Микрорайон расположен в Привокзальном районе Тулы, вблизи поселков Мясново и Петровский. Въезд в Петровский квартал осуществляется со стороны Одоевского шоссе, в будущем планируется строительство дороги и подъездных путей от ул. Чмутова.Петровский квартал имеет хорошее дорожное и транспортное сообщение со всеми районами города. До центра города или до Центрального парка на автомобиле можно доехать всего за 10 минут, на общественном транспорте — за 15–20. У въезда в район уже установлен остановочный павильон: здесь будут находиться конечные двух автобусных маршрутов."


// NEARBY :: END
