// PROGRESS :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


-
  var progress = [
    {
      image: "./img/img-bg-1__progress.png",
      date: "Ноябрь 2017г."
    },
    {
      image: "./img/img-bg-2__progress.png",
      date: "Ноябрь 2017г."
    },
    {
      image: "./img/img-bg-3__progress.png",
      date: "Декабрь 2017г."
    },
    {
      image: "./img/img-bg-1__progress.png",
      date: "Январь 2017г."
    },
    {
      image: "./img/img-bg-2__progress.png",
      date: "Декабрь 2017г."
    },
    {
      image: "./img/img-bg-3__progress.png",
      date: "Ноябрь 2017г."
    },
  ];


.progress

  h3.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Ход строительства"

  svg(id="svg-filter")
    filter(id="svg-blur-0")
      feGaussianBlur(in="SourceGraphic" stdDeviation="8")
        
        
        
  .progress__row(data-js="progress")
    -for(var i = 0; i < progress.length; i++)
      div.slider__banner-content.progress__block.wow.wowFadeLeft(data-animation-delay="0.5s")
        div(style="background-image: url('" + progress[i].image + "');")
        p!= progress[i].date




// PROGRESS :: END
