---
title: About Company
bodyClass: about-company
---
extends shared/_layout
block content

  +backgroundInHeader('./img/MaxPng/Layer-21.jpg', 'О компании')
  include ./components/_aboutCompany
  include ./components/_question
