---
title: Contacts
bodyClass: contacts
---
extends shared/_layout
block content
  

  +backgroundInHeader('./img/MaxPng/Layer-2.jpg', 'Контакты')

  include ./components/_address
  include ./components/_buy
  include ./components/_questionDetail
  
