---
title: Finished project
bodyClass: finished-project
---
extends shared/_layout
block content

  +backgroundInHeader('./img/MaxPng/Layer-6.jpg', 'Реализованные проекты')
  include ./components/_project
