---
title: Flat
bodyClass: flat
---
extends shared/_layout
block content


  include ./components/_bannerFlat
  include ./components/_info
  include ./components/_chooseFlat
  include ./components/_aboutFlat
  include ./components/_description
  include ./components/_nearby
  include ./components/_progress
  include ./components/_buy
  include ./components/_question
  include ./components/_documentation
