---
title: House
bodyClass: house
---
extends shared/_layout
block content


  include ./components/_bannerHouse
  include ./components/_chooseHouse
  include ./components/_aboutHouse
  include ./components/_description
  include ./components/_buy
  include ./components/_question
