---
title: Realty
bodyClass: realty
---
extends shared/_layout
block content


  include ./components/_bannerRealty
  include ./components/_chooseRealty
  include ./components/_aboutRealty
  include ./components/_description
  include ./components/_nearby
  include ./components/_buy
  include ./components/_question
  include ./components/_documentation
