//- VARIABLE
//- ==========
-
  var tabMenuArr = [
    "Квартиры",
    "Коммерческая недвижимость",
    "Кладовые",
    "Земля",
    "Машиноместа"
  ];
  var tabMenuColorArr = [
    "emerald",
    "gold",
    "blizzardBlue",
    "lightningYellow",
    "deepCerise"
  ];
  var tabMenuAttr = [
    "apartment",
    "commercial",
    "storerooms",
    "earth",
    "carParking"
  ];
  var tabHrefAttr = [
    "homepage",
    "commercial",
    "storerooms",
    "earth",
    "parking"
  ];
//- ==========