//- VARIABLE
//- ==========
-
  var headerMenuArr = [
    "Инвесторам",
    "Ипотека",
    "Контакты",
    "О компании"
  ];
//- ==========


.menu--cover(js-teleport data-teleport-to="mobile-menu" data-teleport-condition="<768")
  ul.menu
    -for(var i = 0, len = headerMenuArr.length; i < len; i++)
      li.menu__item.wow.wowFadeDown
        a(href="#" class="menu__link" title="")!= headerMenuArr[i]
