.ico-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-in {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-yt {
  width: 1em;
  height: 1em;
  fill: initial;
}
